pre {
  font-family: Title, serif;
  font-optical-sizing: initial;
  font-stretch: expanded;
  font-style: normal;
  margin: 0;
  text-wrap: wrap;
}

.question {
    font-family: Title, serif;
    font-optical-sizing: initial;
    font-stretch: expanded;
    font-style: normal;
    margin: 0;
    text-wrap: wrap;
    font-size: min(4vw, 2rem);
    letter-spacing: -1px;
    color: var(--brown-theme);
}

.achievementsAndImages {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: nowrap;
}

.mainElement > span > img,
.mainElement > span:nth-child(1),
.mainElement > img,
.oneImage > img,
.twoImage > img,
.threeImage > img {
  border: 2px solid var(--dark-theme);
  border-radius: 8px;
}

.achievementsAndImages > span {     
  font-family: Title, serif;
  background: var(--white-theme);
  color: var(--blue-theme);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
  width: min(1200px, 85vw);
  font-size: min(6vw, 3rem);
  letter-spacing: -1px;
}

.mainElement {
  color: var(--dark-theme);
  justify-content: space-between;
  display: flex;
  padding-top: 40px;
  align-items: center;
  gap: 1vw;
  width: 80vw;
  flex-wrap: nowrap;
  height: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
}

.mainElement > img {
  width: 40vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mainElement > span:nth-child(1) {
  width: 40vw;
  padding: 15px 30px;
  text-align: center;
  height: auto;
  flex: 1;
  min-width: 300px;
}

.mainElement > span{
  gap: 0.5vw;
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: auto;
  min-width: 0;
}

.images {
  gap: 1vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: auto;
  min-width: 0;
  flex: 1;
}

.oneImage > img {
  width: 100%;
  min-width: 0;
  height: auto;
  flex: 1;
}

.twoImage {
  gap: 0.5vw;
  flex: 1;
  min-width: 0;
}

.twoImage > img {
  width: 100%;
  height: auto;
  min-width: 0;
  flex: 1;
}

.threeImage {
  gap: 0.5vw;
  flex: 1;
  min-width: 0;
}

.threeImage > img {
  width: 100%;
  min-width: 0;
  height: auto; 
  flex: 1;
}

.achievementsAndImages > .mainElement:nth-child(2n) > span:nth-child(1) {
  order: 1;
}

.mainElement > span > p:first-child {
  font-family: Title, sans-serif;
  font-size: 2.5rem;
}

.achievementsAndImages > span {
  font-family: Title, serif;
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (max-width: 800px) {
  .mainElement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainElement > .images,
  .mainElement > img,
  .mainElement > span > .twoImage > img,
  .mainElement > span > .threeImage > img,
  .mainElement > span > .oneImage > img {
    width: min(80vw, 600px);
  }

  .mainElement > span:nth-child(1) {
    order: 1;
    width: 90%;
  }
}