pre {
    font-family: Title, serif;
    font-optical-sizing: initial;
    font-stretch: expanded;
    font-style: normal;
    margin: 0;
    text-wrap: wrap;
    width: auto;
}

.page-intro > p {
  text-align: center;
}

.mainCoreTeam {
    color: var(--white-theme);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 40px;
}

.department {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.subTitle {
    display: flex;
    flex-direction: row;
    width: 90%;
    border-radius: 10px;
    transform: scale(auto);
    background: var(--blue-theme);
    transition: ease 200ms;
}

.subTitle > img {
    flex-shrink: 0;
    width: min(300px, 90vw);
    height: min(450px, 60vw);
    background: var(--white-theme);
    border-radius: 10px;
    transition: ease 200ms;
}

.subTitle.active {
    width: 90%;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
}

.subTitle.active > img {
    width: 100%;
    height: calc(100% / 3 * 1.5);
    object-fit: cover;
}

.subDescription {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subDescription > span:first-child {
    text-align: center;
    font-family: Title, sans-serif;
    font-size: 3.5rem;
    padding-top: 30px;
}

.subDescription > span:nth-child(2) {
    opacity: 0.8;
}

.subDescription > span:last-child {
    flex-grow: 1;
}

.subDescription > span:last-child::after {
    content: "";
    margin-top: 40px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--white-theme) transparent transparent transparent;
}

.subTitle.active > .subDescription > span:nth-child(2) {
    padding-bottom: 30px;
}

.subTitle.active > .subDescription > span:last-child {
    display: none;
}

.subTitle.active > .subDescription > span:last-child::after {
    display: none;
}

.coreMember3PerRow {
    width: 100%;
    padding: 30px 0px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;
    row-gap: 20px;
    color: var(--blue-theme);
    background: var(--white-theme);
    animation: disappear 200ms ease both;
}

.coreMember4PerRow {
    width: 100%;
    padding: 30px 0px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    color: var(--blue-theme);
    background: var(--white-theme);
    animation: disappear 200ms ease both;
}

.subTitle.active + .coreMember3PerRow {
    width: 100%;
    display: flex;
    animation: appear 200ms ease both;
}

.subTitle.active + .coreMember4PerRow {
    width: 100%;
    display: flex;
    animation: appear 200ms ease both;
}

.subTitle:hover {
    cursor: pointer;

    filter: brightness(0.8); 
    
    transform: translateY(-5px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20%;
    height: 20%;
}

.container > img {
    border: 2px solid var(--dark-theme);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .subTitle {
        flex-direction: column;
        width: min(450px, 90vw);
        align-items: center;
        justify-content: center;
    }

    .subDescription {
        width: 100%;
        height: auto;
    }

    .subTitle.active > .subDescription {
        padding-bottom: 0px;
    }

    .subDescription > span:first-child {
        font-size: 2rem;
    }

    .subDescription > span:last-child::after {
        content: "";
        margin-top: 20px;
        border-width: 10px;
        border-style: solid;
        border-color: var(--dark-theme) transparent transparent transparent;
    }
}